
.ventana{
	background-color: white;
	padding: 0;
}

.header{
	padding: 0;
	color: white;
	background-color: rgba(25, 94, 71, .7);
	font-size: 20px;
	padding-left: 3%;
}

.ventana-container{
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%; 
}

.sub-menu-container{
	padding: 0;
}

.sub-menu{
	background-color: white !important;
	border-bottom: 1px solid gray;
}

.sub-menu li{
	text-align: center;
	width: 20%;
}

.selected a{
	color: white !important;
}

input.user-options{
	border: none;
	background-color: transparent;
	color: #262626;
	height: 35px;
	width: 100%;
}

input.user-options:hover{
	color: #0d5b41;
}

.sub-menu li a{
	color: #262626;
	transition: color .5s;
}

.sub-menu li a:hover{
	color: #0d5b41;
}

.sub-title{
	border-bottom: 1px solid gray;
}

.sub-title h3{
	color: #0d5b41;
	font-size: 20px;
}

/* In charge of deciding which container of the sub menu is going to be displayed*/
#visible{
	display: inline-block !important;
}

/* Selects the current sub menu */

.current-submenu a{
	color: #0d5b41 !important;
}

/*  Style of default-container  */
.default-container{
	margin-top: 50px;
}

h2{
	color: #215e4a;
	font-size: 25px;
}

.search {
  width: 100%;
}

.searchTerm {
  width: 80%;
  float: left;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton{
  position: relative;
  width: 50px;
  height: 45px;
  background: #215e4a;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:hover{
	background-color: #8a8b8c !important;
}

.table-headers:hover{
	background-color: white !important;
}

#checked{
	background-color: #8a8b8c !important;
}

/* Style of new Patient*/
.menu-nuevo{
	background-color: white;
}

.menu-nuevo li{
	text-align: center;
	width: 40%;
	background-color: #0f3d66;
}

.nuevo-container{
	padding: 0;
}

.nuevo-item{
	list-style: none;
	padding-bottom: 20%;
	text-align: center;
	padding-top: 20%;
	transition: background-color .5s;
	color: #011526;
	font-size: 18px;
	font-weight: bold;
	padding-right: 10%;
	background-color: white;
	border-right: 3px solid #011526;
	border-bottom: 3px solid #011526;
	border-left: 3px solid #011526;
}

.nuevo-item:first-child{
	border-top: 3px solid #011526;
}

.nuevo-item:hover{
	background-color: #bababa;
	color: white;
}

#current-miniItem{
	background-color: #bababa;
	color: white;
}

.tabs-title > a{
	color: black;
	font-weight: bold;
	font-size: 18px;
}

/* Style of open record */
.abrir-container{
	padding: 0;
}

.actualizar-container{
	padding: 0;
}

.baja-container{
	padding: 0;
}

.columns:last-child:not(:first-child){
	float: right !important;
}