body{
	background-image: url("../img/consultorio.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	transition: background-color .5s;
}

html{
	overflow-x: hidden;
}

.title-bar{
	background-color: #041736;
}

.title-bar-title{
	font-size: 17px;
	font-weight: bold;
}

.menu-icon{
	width: 30px;
}

.logout{
	color: black;
	font-size: 17px;
	font-weight: bold;
	background-color: white;
	background-image: url("../img/logoutBlack.png");
	background-position: left;
	background-size: 35%;
	text-align: right;
	background-repeat: no-repeat;
	width: 85px;
	height: 15px;
	transition: background-color .5s;
	padding-right: 10px;
	margin-bottom: 0;
	line-height: 5px;
}

.logout:hover{
	color: white;
	background-image: url("../img/logout.png");
	background-color: #041736;
}

.side{
	background-color: #011526;
	position: relative;
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.closebtn{
	color: #ffffff;
}

.side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0;
}

ul.side-nav{
	margin: 0;
}

.nav-item{
	list-style: none;
	padding-bottom: 20%;
	padding-top: 20%;
	text-align: right;
	transition: background-color .5s;
	color: white;
	font-size: 20px;
	font-weight: bold;
	user-select: none;
	padding-right: 10%;
	background-position: left;
	background-size: 25%;
	background-repeat: no-repeat;
	width: inherit;
	cursor: pointer;
}

.current{
	background-color: white;
	color: #0e4472;
}

.nav-item:hover{
	background-color: white;
	color: #0e4472;
}

#consulta{
	background-image: url("../img/consultWhite.png");
}

#directorio{
	background-image: url("../img/directoryWhite.png");
}

#personalizar{
	background-image: url("../img/brushWhite.png");
}

#herramientas{
	background-image: url("../img/toolsWhite.png");
}

@media only screen and (max-width: 1200px) {
    .nav-item{
    	font-size: 0;
    	padding-top: 30%;
    	padding-bottom: 30%;
    	background-size: 35%;
    }

    #consulta{
		background-position: center;
	}
	#directorio{
		background-position: center;
	}
	#personalizar{
		background-position: center;
	}
	#herramientas{
		background-position: center;
	}
}