body{
	background-image: url("../img/consultorio.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.title-bar{
	background-color: #012442;
	height: 5%;
}

.title-bar-title{
	font-size: 20px;
	font-weight: bold;
}

.logout{
	color: black;
	font-size: 17px;
	font-weight: bold;
	background-color: white;
	background-image: url("../img/logoutBlack.png");
	background-position: left;
	background-size: 35%;
	text-align: right;
	background-repeat: no-repeat;
	width: 85px;
	height: 40px;
	transition: background-color .5s;
	padding-right: 10px;
}

.logout:hover{
	color: white;
	background-image: url("../img/logout.png");
	background-color: #011526;
}

.side{
	background-color: #011526;
	height: 100vh;
	padding: 0;
	position: relative;
	width: 15%;
}

ul.side-nav{
	margin: 0;
}

.nav-item{
	list-style: none;
	padding-bottom: 20%;
	padding-top: 20%;
	text-align: right;
	transition: background-color .5s;
	color: white;
	font-size: 23px;
	font-weight: bold;
	user-select: none;
	padding-right: 10%;
}

.current{
	background-color: white;
	color: #0e4472;
}

.nav-item:hover{
	background-color: white;
	color: #0e4472;
}

#consulta{
	background-image: url("../img/consultWhite.png");
	background-position: left;
	background-size: 38%;
	background-repeat: no-repeat;
}

#directorio{
	background-image: url("../img/directoryWhite.png");
	background-position: left;
	background-size: 33%;
	background-repeat: no-repeat;
}

#personalizar{
	background-image: url("../img/brushWhite.png");
	background-position: left;
	background-size: 36%;
	background-repeat: no-repeat;
}

#herramientas{
	background-image: url("../img/toolsWhite.png");
	background-position: left;
	background-size: 33%;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 1600px) {
    .nav-item{
    	font-size: 0;
    	padding-top: 30%;
    	padding-bottom: 30%;
    }

    #consulta{
		background-position: center;
	}
	#directorio{
		background-position: center;
	}
	#personalizar{
		background-position: center;
	}
	#herramientas{
		background-position: center;
	}

    .side{
    	width: 10%;
    	margin-left: 0;
    }
}