body
{
  margin: 0;
}
.disp{
  background-color: white;
  text-align: center;
  color:rgb(0,128,255);
  padding: 2rem 4rem;
  margin-top: 2%;
  
}
.full-width {
  max-width: 1400px;
}

.footer {
 background-color: gray; 
 padding: 2rem 0rem;
  text-align: center;
  color:white;
  margin-top: 2%;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 6px;
 
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 140px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  background:gray;
}

.play{
  border-radius: 100%;
  height:60px;
  width:60px;
  margin-bottom: 10px;
}
.fondo{
    z-index:-1000;
}
.sobre{
    z-index:100;
    padding:15%;
}
h2{
    
    color:white;
    font-weight:bold;
    font-size:80px;
    text-shadow:3px 3px rgb(0,128,255);
}
h5{
   color:white;
    font-weight:bold;
     text-shadow:1px 1px orange;
}
#title{
  background:white;
  width:50px;
  height:50px;
}
h1{
  font-weight:bold;
  color:rgb(0,128,255);
}
p{
  color:orange;
  font-size:32px;
}
#1,#2,#3,#4{
  display: none;
}
.esconder{
  display: none;
}