body{
    background-image: url('../images/campus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title-bar{
    background-color: rgb(178, 178, 178);
    padding: .3% 0 .5% 0;
    height: 6vh;
}

.log-in-form {
  padding: 2rem;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 12px;
  background-color: rgba(34, 91, 183, .6);
  position: relative;
}

form{
    margin-top: 20vh;
}

.logo-tec{
    margin-left: 3%;
    width: 10%;
}

label, h4, a{
    color: #ffffff;
}

.floating-label{
    color: #b2b2b2;
    position: absolute;
    top: 27%;
    left: 15%;
}

.floating-label-pswd{
    color: #b2b2b2;
    position: absolute;
    top: 47%;
    left: 15%;
}

.button{
    background-color: #03325b;
}

.button:hover{
    background-color: #074a84;
}

.forget:hover{
    color: #c4c4c4;
}

.error-msg{
    color: #ff0000;
    display: none;
    margin-top: 3%;
    font-size: 18px;
}